:root {
  --square-size: 5vmin;
  --bgColor: #887aa1;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #5c3f7b;
}

#score {
  font-family: "Moirai One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.pieceStyle {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.244);
}

#board-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

#board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  max-width: 550px;
  aspect-ratio: 1 / 1;
  margin: auto;
  gap: 0;
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: #3b0270;
  border-radius: 2%;
}

#board:hover {
  box-shadow: 7px 5px 5px rgb(111, 0, 151);
}

.board-square {
  background-color: var(--bgColor);
  border: 1px solid #5c3f7b;
  box-sizing: border-box;
  width: var(--square-size);
  height: var(--square-size);
  border-radius: 15%;
}

#player-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: auto;
}

.piece-area {
  margin: auto;
  cursor: grab;
}

.piece-area:active {
  cursor: grabbing;
}

.square1x1 {
  background-color: #fd7bff !important;
}

.square2x1,
.square1x2 {
  background-color: #67e6ff !important;
}

.square3x1,
.square1x3 {
  background-color: #2a3cff !important;
}

.square4x1,
.square1x4 {
  background-color: #ff0084 !important;
}

.square5x1,
.square1x5 {
  background-color: #00ffb3 !important;
}

.square2x2 {
  background-color: #ff00d4 !important;
}

.small-L-shape,
.small-L-upside-down,
.small-L-shape-mirrored,
.small-L-upside-down-mirrored {
  background-color: #85faef !important;
}

.square3x3 {
  background-color: #ff0d00 !important;
}

@media (max-width: 576px) {
  #board {
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 0;
    aspect-ratio: 1 / 1;
  }

  .board-square {
    width: 35px;
    height: 35px;
  }

  .piece-area {
    grid-template-rows: repeat(var(--rows), 40px);
    grid-template-columns: repeat(var(--cols), 40px);
  }
}

.square9x9 {
  background-color: rgb(13, 0, 253) !important;
}
